
.fondo {
    background-color: #44d85c;
}

.imgmediana {
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    margin: 0 auto;
    width: min-content;
    display: flex;
}

.margenes {
    padding-top: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
section{
    display:flex;
    width: 1300px;
    height: 250px;
}
section img{
    width: 0px;
    flex-grow: 1;
    object-fit:cover;
    opacity: .8;
    transition: .5s ease;
}
section img:hover{
    width: 50px;
    opacity: 1;
    filter: contrast(120%);
  }
  html{
    scroll-behavior: smooth;
  }